// =============================================================================
// FILE IMPORTS
// =============================================================================

@import "helpers/functions";
@import "helpers/mixins";
@import "settings/type";
@import "settings/sizes";
@import "settings/media";
@import "settings/colors";
@import "settings/z-index";
@import "helpers/sr-only";
@import "helpers/base";

a {
	text-decoration: underline;
	color: inherit;
}

.container {
	display: grid;
	grid-gap: 2em;
	align-items: start;
	max-width: 70em;
	min-height: 100vh;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding: 1.25em;
	font-size: 1.25rem;

	@include bp(L) {
		padding: 2.5em;
	}

	@include bp(sidebar) {
		grid-template-columns: 1fr 1fr;
	}
}

.text {
	max-width: 30em;

	ol {
		padding-left: 1.4em;
		list-style-position: outside;
	}

	ul {
		padding-left: 0;
		list-style: none;
	}

	p + p {
		margin-top: 1.25em;
	}
}

.title {
	line-height: 1;
	font-size: 3.5em;
	font-weight: bold;
	text-transform: uppercase;

	@include bp(L) {
		font-size: 5.5em;
	}

	img {
		width: 4.5em;
		margin-bottom: .125em;
	}
}

.subtitle {
	margin-top: .5em;
	line-height: 1.25;
	font-size: 1.5em;
	font-weight: bold;

	@include bp(L) {
		font-size: 2.25em;
	}

	+ p {
		margin-top: 1.5em;
	}
}

.stats {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 0 1.5em;
	align-items: end;
	max-width: 21em;
	margin-top: 1.5em;

	dt {
		margin-bottom: .125em;
	}

	dd {
		font-size: 1.25em;
		font-weight: bold;
	}

	abbr {
		text-decoration: none;
	}
}

.cta {
	margin-top: .75em;
	line-height: 1.25;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;

	@include bp(L) {
		font-size: 2.25em;
	}

	+ * {
		margin-top: .5em;
	}
}

.section-title {
	max-width: 15em;
	margin-top: 1.5em;
	line-height: 1.45;
	font-size: 1.125em;
	font-weight: bold;
	text-transform: uppercase;

	@include bp(L) {
		font-size: 1.5em;
	}

	+ * {
		margin-top: .75em;
	}
}

.gallery {
	position: sticky;
	display: grid;
	grid-gap: 1em;

	@include bp(L) {
		grid-gap: 2em;
	}

	@include bp(sidebar) {
		margin-top: 1.85em;
	}

	img {
		border: 5px solid #fff;
	}
}

.footer {
	padding: 1.25em 1.25em 2em;
	font-size: 1.25rem;

	@include bp(L) {
		padding-right: 2.5em;
		padding-left: 2.5em;
	}

	@include bp(footer-row) {
		padding-top: 0;
		padding-bottom: 1em;
	}

	@include bp(sidebar) {
		padding-top: 2em;
	}

	address {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-style: normal;

		@include bp(footer-row) {
			flex-direction: row;
			justify-content: center;;
		}
	}

	img {
		max-width: 8em;
		margin-right: 1em;

		@include bp(footer-row) {
			margin-top: 0;
			margin-right: 3em;
			margin-bottom: 1.25em;
		}
	}

	small {
		margin-top: 1em;
		font-size: 1em;

		@include bp(footer-row) {
			margin-top: 0;
			margin-right: 3em;
		}
	}

	a {
		margin-top: .5em;

		@include bp(footer-row) {
			margin-top: 0;
		}
	}
}

@import "helpers/shame";
