{% extends "../layouts/base.twig" %}

{% block main %}
	<div class="container">
		<div class="text">
			<h1 class="title">Přispěj potem!</h1>
			<p class="subtitle"><strong>Pojďme pohybem podpořit unavené zdravotníky a uzavřené restaurace.</strong></p>
			<p>Za tvoji sportovní aktivitu dostanou záchranáři, sestry, lékaři a pracovníci intenzivní péče v&nbsp;nemocnicích a na záchrance poukazy na kvalitní jídlo. Přihlas se do našeho klubu v&nbsp;aplikaci Strava, Sports Tracker nebo Runtastic a začni přeměňovat hodiny dřiny v&nbsp;dobro.</p>
			<h2 class="cta">Jak začít?</h2>
			<ol>
				<li>Přihlas se do aplikace Strava, Sports Tracker nebo Runstastic.</li>
				<li>Přidej se do klubu Přispěj potem!</li>
				<li>Začni trackovat svoje sportovní aktivity.</li>
				<li>Lajkni náš instagram a sleduj, jak sport pomáhá.</li>
			</ol>
			<h2 class="section-title">Doposud zapojená zdravotnická zařízení</h2>
			<ul>
				<li>Krajská nemocnice Liberec</li>
				<li>Nemocnice Jablonec nad Nisou</li>
				<li>Nemocnice Cheb</li>
				<li>Fakultní nemocnice Královské Vinohrady</li>
				<li>Nemocnice Kyjov</li>
				<li>Svitavská nemocnice</li>
				<li>Klaudiánova nemocnice Mladá Boleslav</li>
			</ul>
			<h2 class="section-title">Kod za tím stojí</h2>
			<p>Nadace Premedis, s&nbsp;podporou WOC2021 a České ergonomické společnosti.</p>
		</div>
		<div class="gallery">
			<img src="/assets/img/prispej-potem-1.jpg" alt="Zdravotní sestry s obědem">
			<img src="/assets/img/prispej-potem-2.jpg" alt="Zdravotní sestry u oběda s poukazem">
			<img src="/assets/img/prispej-potem-3.jpg" alt="Zdravotní sestry s obědovými boxy">
		</div>
	</div>
{% endblock %}
