{% extends "../layouts/base.twig" %}

{% block main %}
	<div class="container">
		<div class="text">
			<h1 class="title">Přispěj potem!</h1>
			<p class="subtitle"><strong>Pojďme pohybem podpořit unavené zdravotníky a uzavřené restaurace.</strong></p>
			<p>Za tvoji sportovní aktivitu dostanou záchranáři, sestry, lékaři a pracovníci intenzivní péče v&nbsp;nemocnicích a na záchrance poukazy na kvalitní jídlo jako formu podpory a poděkování za skvělou práci a vytrvalost. Přihlas se do našeho klubu v&nbsp;aplikaci Strava nebo Runtastic a začni přeměňovat hodiny dřiny v&nbsp;dobro. Vytáhni děti i prarodiče, aktivitu za ně zadej v&nbsp;aplikaci manuálně.</p>
			<h2 class="cta">Jak začít?</h2>
			<ol>
				<li>Přidej se do klubu <i>prispejpotem</i> na <a href="https://www.strava.com/clubs/prispejpotem">Stravě</a> nebo v <a href="https://www.runtastic.com/groups/prispejpotem">Runtasticu</a>!</li>
				<li>Začni trackovat svoje sportovní aktivity.</li>
				<li>Za každých <strong>100 hodin společného potu</strong> dáváme zdravotníkům <strong>1000 Kč</strong> na kvalitní jídlo.</li>
				<li>Sdílej svou podporu s hashtagem <a href="https://www.instagram.com/explore/tags/prispejpotem/">#prispejpotem</a>.</li>
			</ol>
			<h2 class="section-title">Doposud zapojená zdravotnická zařízení</h2>
			<ul>
				<li>Krajská nemocnice Liberec</li>
				<li>Nemocnice Jablonec nad Nisou</li>
				<li>Nemocnice Cheb</li>
				<li>Fakultní nemocnice Královské Vinohrady</li>
				<li>Nemocnice Kyjov</li>
				<li>Svitavská nemocnice</li>
				<li>Klaudiánova nemocnice Mladá Boleslav</li>
			</ul>
			<h2 class="section-title">Kdo za tím stojí</h2>
			<p><a href="https://www.premedis.cz/cs/nadace-premedis.html">Nadace Premedis</a>, s&nbsp;podporou <a href="https://woc2021.cz/">Mistrovství světa v&nbsp;orientačním běhu 2021</a> a <a href="https://www.sundisk.cz/cs/">Sundisku</a>.</p>
			<p>Odborným garantem je <a href="https://www.ergonomicka.cz/">Česká ergonomická společnost</a>.</p>
			<p>Vy se potíte pro nás a my pro vás!</p>
		</div>
		<div class="gallery">
			<img src="/assets/img/prispej-potem-1.jpg" alt="Zdravotní sestry s obědem">
			<img src="/assets/img/prispej-potem-2.jpg" alt="Zdravotní sestry u oběda s poukazem">
			<img src="/assets/img/prispej-potem-4.jpg" alt="Zdravotní sestry s obědovými boxy">
		</div>
	</div>
	<footer class="footer">
		<address>
			<img src="/assets/img/premedis-logo.svg" alt="Premedis ERGO centrum a Nadace">
			<small>© Nadace Premedis 2021</small>
			<a href="mailto:info@prispejpotem.cz">info@prispejpotem.cz</a>
		</address>
	</footer>
{% endblock %}
