<!doctype html>
<html lang="cs">
	<head>
		{# these 3 meta tags must come first in the <head> #}
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="preconnect" href="https://fonts.gstatic.com">

		<link rel="apple-touch-icon" href="/apple-touch-icon.png">

		<link rel="stylesheet" href="/assets/css/main.css">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300,700&display=swap" rel="stylesheet">

		<title>{{ title ? title ~ ' | ' }}Přispěj potem</title>
		{% if description is defined %}
			<meta name="description" content="{{ description }}">
		{% endif %}
	</head>
	<body>
		{% block main %}{% endblock %}
	</body>
</html>
